/* Color Palette
Violet:#554ce4 Blush:#FFECE6 Periwinkle:#bfd1fe Gramps:#8692b2 */

* {
  font-family: 'Nunito';
}

.navbar-toggler.toggler-example {
  cursor: pointer;
}

.material-icons {
  font-size: 40px;
  color: black;
}

.bg-warning {
  background-color: #FFECE6 !important;
}

.btn-link {
  text-decoration: none;
}